{% load static %}
<!-- Footer -->
	<footer>
		<div class="footer-menu py-4 py-sm-5">
			<div class="container">
				<ul class="nav nav-fill">
					<li class="nav-item">
						<a class="nav-link" href="#">Главная</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">О РСПС</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Новости</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Документы</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Региональные отделения</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Одобрено РСПС</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Контакты</a>
					</li>
				</ul>
			</div>
		</div>
		<hr>
		<div class="footer-content pt-3 pb-4">
			<div class="container">
				<div class="row align-items-center justify-content-between">
					<div class="d-none d-sm-block col-sm-2">
						<a href="http://rsps-online.ru/"><img src="{% static 'images/logo.gif' %}" class="img-fluid" alt="RSPS logo"></a>
					</div>
					<div class="col-sm-10 col-md-7 text-center text-sm-left">
						<h6>Российское сварочное профессиональное сообщество, ©&nbsp;2013&nbsp;-&nbsp;2019</h6>
					</div>
					<div class="d-none d-md-block col-md-3 text-right">
						<p class="mb-1"><i class="fa fa-phone-square mr-2 mt-4 mt-sm-0 text-primary"></i>+7 (499) 784 77 00</p>
						<p><i class="fa fa-fax mr-2 text-primary"></i>+7 (499) 784 77 11</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- End Footer -->