{% load static %}

<div class="mb-4">
	<div class="form-group row">
		<label for="" class="col-sm-4 col-form-label col-form-label-sm">ФИО&nbsp;<span class="text-danger">*</span></label>
		<div class="col-sm-8 col-lg-6">
			<input type="text" class="form-control form-control-sm" placeholder="" value="Комбаров Валентин Анатольевич">
		</div>
	</div>
	<div class="form-group row">
		<label for="" class="col-sm-4 col-form-label col-form-label-sm">Город проживания (населенный пункт)&nbsp;<span class="text-danger">*</span></label>
		<div class="col-sm-8 col-lg-6">
			<input type="text" class="form-control form-control-sm" placeholder="" value="Москва">
		</div>
	</div>
	<div class="form-group row">
		<label for="" class="col-sm-4 col-form-label col-form-label-sm">Email&nbsp;<span class="text-danger">*</span> / Телефон</label>
		<div class="col-6 col-sm-4 col-lg-3">
			<input type="text" class="form-control form-control-sm" placeholder="Email" value="dev1@naks.ru">
		</div>
		<div class="col-6 col-sm-4 col-lg-3">
			<input type="text" class="form-control form-control-sm" placeholder="№ телефона" value="+7 (499) 784-72-86">
		</div>
	</div>
	<div class="form-group row">
		<label for="" class="col-sm-4 col-form-label col-form-label-sm">Место работы</label>
		<div class="col-sm-8 col-lg-6">
			<input type="text" class="form-control form-control-sm" placeholder="" value='ООО "НЭДК'>
		</div>
	</div>
	<div class="form-group row">
		<label for="" class="col-sm-4 col-form-label col-form-label-sm">Должность</label>
		<div class="col-sm-8 col-lg-6">
			<input type="text" class="form-control form-control-sm" placeholder="" value="инженер-программист">
		</div>
	</div>
	<div class="form-group row">
		<label for="" class="col-sm-4 col-form-label col-form-label-sm">Краткая информация о члене РСПС<br><small>(область деятельности, достижения и прочее...)</small></label>
		<div class="col-sm-8 col-lg-6">
			<textarea class="form-control form-control-sm" rows="3"></textarea>
		</div>
	</div>
</div>


