{% comment %} новый {% endcomment %}
<div class="status-false mb-1"><i class="fa fa-arrow-down mr-2"></i><small>Новый</small></div>

{% comment %} Заявлен {% endcomment %}
<div class="status-true text-info mb-1"><i class="fa fa-arrow-down mr-2"></i>Заявлен</div>
<div class="status-false mb-1"><i class="fa fa-arrow-down mr-2"></i><small>Одобрен РСПС</small></div>
<div class="status-false"><i class="fa fa-certificate mr-2"></i><small>Сертификат РСПС</small></div>

{% comment %} Одобрен {% endcomment %}
<div class="status-false mb-1"><i class="fa fa-arrow-down mr-2"></i><small>Заявлен</small></div>
<div class="status-true text-success mb-1"><i class="fa fa-arrow-down mr-2"></i>Одобрен
    РСПС</div>
<div class="status-false"><i class="fa fa-certificate mr-2"></i><small>Сертификат РСПС</small></div>

{% comment %} Сертификат {% endcomment %}
<div class="status-false mb-1"><i class="fa fa-arrow-down mr-2"></i><small>Заявлен</small></div>
<div class="status-false mb-1"><i class="fa fa-arrow-down mr-2"></i><small>Одобрен РСПС</small></div>
<div class="status-true text-warning"><i class="fa fa-certificate mr-2"></i>Сертификат РСПС</div>