    {% load filename %}
    <div>
        {% if photos %}
        <hr>
        Загруженные файлы:

            {% for img in photos %}
            <div class="row align-items-center mb-2">
                <div class="col-4">
                    <a href="{{ img.image.url }}" target="_blank" class="text-success">{{ img.image.file|filename }}</a>
                </div>
                <div class="col-2">
                    <a href="#" data-photo-id="{{ img.pk }}"
                                data-publication-id="{{ img.post.pk }}" class="remove_photo btn btn-warning btn-sm">Удалить</a><br>
                </div>
            </div>
            {% endfor %}
        {% endif %}

    </div>