/* Style change Bootstrap */
/* a {
	color: #086da3 !important;
} */
.text-primary {
	color: #086da3 !important;
}
.btn-primary {
	background-color: #086da3 !important;

	&:hover {
		background-color: #157bb1 !important;
	}
}
.btn-outline-primary {
    color: #086da3 !important;
    border-color: #086da3 !important;

    &:hover {
    	background-color: #157bb1 !important;
    	color: #fff !important;
    }
}
.btn-link {
    color: #086da3 !important;
}
/* End */

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9rem;
}

/* Header */
.header-menu {
	background-color: #086da3;
	box-shadow: inset 0 -2px 3px 0 #003560;

	@media (max-width: 991px) {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}
	
	.navbar {
		padding: 0;

		.navbar-toggler {
			@media (max-width: 991px) {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				-ms-align-items: center;
				align-items: center;
			}
			
			border: none;
			.navbar-toggler-icon {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
			}
			.navbar-toggler-text {
				color: #fff; 
				font-size: 1.2rem;
				text-transform: uppercase;
			}

		}
	}
	.navbar-nav {
		.nav-item .nav-link {
			color: #fff;
			padding: 1rem;

			&:hover {
				background-color: #157bb1;
				box-shadow: inset 0 -2px 3px 0 #003560;
			}
			@media (min-width: 992px) and (max-width: 1199px){
				padding: 0.8rem;
				font-size: 0.8rem;
			}
		}

		.nav-item.active {
			color: #fff;
			background-color: #045594;

			.nav-link:hover {
				background-color: transparent;
			}
		}

		.nav-item.nav-item-user {
			background-color: #157bb1;

			.nav-link {
				color: #D9F0FD;

				&:hover {
					color: #fff;
					box-shadow: none;
				}
			}
		}

		@media (max-width: 991px) {
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
		}
	}
}

.header-content {
	p 	{
		&:last-child {
			margin-bottom: 0;
		}
		@media (min-width: 576px) and (max-width: 1199px){
			font-size: 0.8rem;
		}
	}
	
	h2 {
		margin-bottom: 0;
		@media (min-width: 576px) and (max-width: 991px){
			font-size: 1.5rem;
		}
	}
}
/* End Header */

/* Content */
main {
	background-image: url(../images/bg-zub.gif);
	background-repeat: repeat-x;
}
/* End Content */

/* Footer */
footer hr {
	margin-top: 0;
}
.footer-menu {
	background-image: url(../images/bg-zub.gif);
	background-repeat: repeat-x;

	.nav {
		.nav-item .nav-link {
			color: #3F3F3F;
			padding-bottom: 0.5rem;
			border-bottom: 3px solid #c42921;
			display: inline-block;

			&:hover {
				color: #000;
			}
		}
	}
}

.footer-content {
	h6 {
		margin-bottom: 0;
	}
	p {
		font-size: 0.8rem;
	}
	p:last-child {
		margin-bottom: 0;
	}
}
/* End Footer */

/* Form */
/* .form-label-sm {

} */
/* End Form */

/* Modal */
	.modal-footer {
		justify-content: space-between;
	}
/* End Modal */