{% extends 'mainapp/base.html' %}

{% block content %}
<!-- Content -->
<main class="pt-4">
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
				<li class="breadcrumb-item active" aria-current="page">Личный кабинет подразделения</li>
			</ol>
		</nav>

		<h4 class="title-page">Личный кабинет</h4>

		<ul class="nav nav-tabs mb-4">
			<li class="nav-item">
				<a class="nav-link active" href="{% url 'account_user' %}">Учетная запись</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'account_about' %}">О подразделении</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'account_news' %}">Новости</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'account_employee' %}">Члены подразделения</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'account_conf' %}">Конференции</a>
			</li>
		</ul>
		
		<h5>Меркулов Денис Иювинальевич</h5>
		<div class="search px-3 py-4 mb-4">
				<form>
					<div class="form-group row">
						<label for="colFormLabelSm" class="col-md-4 col-form-label col-form-label-sm">Региональное отделение&nbsp;<span class="text-danger">*</span></label>
						<div class="col-md-4 col-lg-3 mb-2 mb-md-0">
							<select class="form-control form-control-sm" required="">
								<option>-</option>
								<option selected="">Астраханская область</option>
								<option>Тамбовская область</option>
								<option>Воронежская область</option>
								<option>Московская область</option>
								<option>Хабаровский край</option>
								<option>Краснодарский край</option>
							</select>
						</div>
						<div class="col-md-4 col-lg-3">
							<input type="text" class="form-control form-control-sm" placeholder="Населенный пункт" required="">
						</div>
					</div>
					<div class="form-group row">
						<label for="colFormLabelSm" class="col-md-4 col-form-label col-form-label-sm">ФИО&nbsp;<span class="text-danger">*</span></label>
						<div class="col-md-8 col-lg-6">
							<input type="text" class="form-control form-control-sm" required="">
						</div>
					</div>
					<div class="form-group row">
						<label for="colFormLabelSm" class="col-md-4 col-form-label col-form-label-sm">Телефон / Email&nbsp;<span class="text-danger">*</span></label>
						<div class="col-md-4 col-lg-3 mb-2 mb-md-0">
							<input type="text" class="form-control form-control-sm" placeholder="tel">
						</div>
						<div class="col-md-4 col-lg-3">
							<input type="text" class="form-control form-control-sm" placeholder="email" required="">
						</div>
					</div>
					<div class="form-group row">
						<label for="colFormLabelSm" class="col-md-4 col-form-label col-form-label-sm">Место работы</label>
						<div class="col-md-8 col-lg-6">
							<input type="text" class="form-control form-control-sm">
						</div>
					</div>
					<div class="form-group row">
						<label for="colFormLabelSm" class="col-md-4 col-form-label col-form-label-sm">Должность</label>
						<div class="col-md-8 col-lg-6">
							<input type="text" class="form-control form-control-sm">
						</div>
					</div>
					<div class="form-group row">
						<div class="offset-sm-4 col-sm-6">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="mailing">
								<label class="form-check-label" for="mailing">
									подписка на рассылку от РСПС
								</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-auto">
							<button type="submit" class="btn btn-outline-danger btn-sm">Отправить<i class="fa fa-angle-right ml-2"></i></button>
							<button type="button" class="btn btn-link btn-sm">Отмена</button>
						</div>
					</div>
				</form>
			</div>

		
	</div>
</main> 
<!-- End Content -->
{% endblock %}