{% extends 'mainapp/base.html' %}

{% block content %}
<!-- Content -->
<main class="pt-4">
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
				<li class="breadcrumb-item"><a href="{% url 'account_about' %}">Личный кабинет подразделения</a></li>
				<li class="breadcrumb-item active" aria-current="page">Новости</li>
			</ol>
		</nav>

		<h4 class="title-page">Личный кабинет</h4>

		<ul class="nav nav-tabs mb-4 mb-xl-5">
			<li class="nav-item">
				<a class="nav-link" href="{% url 'account_about' %}">О подразделении</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="{% url 'account_news' %}">Новости</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'account_employee' %}">Члены подразделения</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'account_conf' %}">Конференции</a>
			</li>
		</ul>
		

	</div>
</main> 
<!-- End Content -->
{% endblock %}