{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<!-- Content -->
<main class="pt-4">
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
				<li class="breadcrumb-item"><a href="{% url 'account_about' %}">Личный кабинет подразделения</a></li>
				<li class="breadcrumb-item active" aria-current="page">Новости</li>
			</ol>
		</nav>

		<h4 class="title-page">Личный кабинет</h4>

		{% include 'mainapp/includes/account_menu_tabs.html' %}

		<div class="card-all">
			<div class="row">  <!-- =========== Убран класс 'flex-wrap' за ненадобностью ========= -->
				{% for publication in posts %}
					{% include 'mainapp/includes/news-list-card.html' %}
				{% endfor %}
			</div>
		</div>

            <div class="mt-4">
                <nav>
                    <ul class="pagination">

                        {% if posts.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">стр. 1</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}"><i class="fa fa-arrow-left"></i></a></li>
                        {% endif %}

                        <li class="page-item active"><a class="page-link" href="?page={{ posts.number }}">
                        {{ posts.number }} из {{ posts.paginator.num_pages }}</a></li>

                        {% if posts.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}"> <i class="fa fa-arrow-right"></i></a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ posts.paginator.num_pages }}">стр. {{ posts.paginator.num_pages}}
                               </a></li>
                        {% endif %}

                    </ul>
                </nav>
            </div>
	</div>
</main> 
<!-- End Content -->
{% endblock %}