{% extends 'mainapp/base.html' %}

{% block content %}
<!-- Content -->
<main class="pt-4">
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
				<li class="breadcrumb-item"><a href="{% url 'prezidium_regional_office' %}">Президиум</a></li>
				<li class="breadcrumb-item active" aria-current="page">Конференции</li>
			</ol>
		</nav>

		<h4 class="title-page">Личный кабинет</h4>

		<ul class="nav nav-tabs mb-4">
			<li class="nav-item">
				<a class="nav-link" href="{% url 'prezidium_regional_office' %}">Региональные отделения</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'prezidium_employee' %}">Члены РСПС</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="{% url 'prezidium_conf' %}">Конференции</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'prezidium_congress' %}">Съезды</a>
			</li>
		</ul>
		<div class="search p-3 mb-4">
			<h5>Быстрый поиск</h5>
			<form>
				<div class="form-row">
					<div class="form-group col-sm-6 col-lg-4">
						<label for="" class="mb-1">Региональное отделение</label>
						<select class="form-control form-control-sm">
							<option selected="">Все</option>
							<option>Москва</option>
							<option>Московская область</option>
							<option>Санкт-Петербург</option>
							<option>Ленинградская область</option>
							<option>Калужская область</option>
						</select>
					</div>
					<div class="form-group col-sm-3 col-lg-2">
						<label for="" class="mb-1">Дата проведения: c</label>
						<div class="input-group input-group-sm">
							<input type="text" class="form-control datepicker-here" placeholder="дд.мм.гггг" aria-label="дд.мм.гггг" aria-describedby="">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fa fa-calendar"></i></span>
							</div>
						</div>
					</div>
					<div class="form-group col-sm-3 col-lg-2">
						<label for="" class="mb-1">по</label>
						<div class="input-group input-group-sm">
							<input type="text" class="form-control datepicker-here" placeholder="дд.мм.гггг" aria-label="дд.мм.гггг" aria-describedby="">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fa fa-calendar"></i></span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-auto">
						<button type="submit" class="btn btn-outline-primary btn-xs"><i class="fa fa-search"></i> Найти</button>
						<button type="button" class="btn btn-link btn-xs">Сбросить</button>
					</div>
				</div>
			</form>
		</div>
		<button type="button" class="btn btn-danger btn-xl mb-4" data-toggle='modal' data-target='#modal-regConference'>Добавить конференцию</button>
		<p class="text-secondary">Элементы 1-20 из 25</p>
		<div class="table-responsive">
			<table class="table table-list">
				<thead>
					<tr class="active">
						<th>Региональное отделение</th>
						<th>Дата проведения</th>
						<th>Место проведения</th>
						<th>Название конференции</th>
						<th>Действия</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-uppercase font-weight-bold">
							<div class="text-primary">Московская область</div>
						</td>
						<td>12 сентября 2019 г.</td>
						<td>Москва, ул. Братиславская, дом 6, офис НАКС</td>
						<td>
							<div class="text-appercase">Конференция по Московской области 2019</div>
							<div>Колличество участников:&nbsp;<strong>5</strong></div>
							<div class="text-danger mt-2">Запланирована</div>
						</td>
						<td>
							<a href="#" class="btn-action mr-3 text-primary" title="Удалить конференцию"><i class="fa fa-trash-o"></i></a>
							<a href="#multiCollapseConf00" class="btn-action text-primary" data-toggle="collapse" aria-expanded="false" title="Изменить"><i class="fa fa-pencil"></i></a>
						</td>
					</tr>
					<tr class="multi-collapse collapse edit-list" id="multiCollapseConf00">
						<td colspan="5" class="total-column">
							<form>
								<div class="mb-5">
									<h6 class='text-primary mb-4'>Сведения о конференции</h6>
									<div class="form-group row">
										<label for="" class="col-sm-4 col-form-label col-form-label-sm">Дата проведения&nbsp;<span class="text-danger">*</span></label>
										<div class="col-6 col-sm-4 col-lg-3">
											<div class="input-group input-group-sm">
												<input type="text" class="form-control datepicker-here" placeholder="дд.мм.гггг" aria-label="дд.мм.гггг" aria-describedby="">
												<div class="input-group-append">
													<span class="input-group-text"><i class="fa fa-calendar"></i></span>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<label for="" class="col-sm-4 col-form-label col-form-label-sm">Место проведения&nbsp;<span class="text-danger">*</span></label>
										<div class="col-sm-8 col-lg-6">
											<input type="text" class="form-control form-control-sm" placeholder="" value="236005, г. Обнинск, ул. Колхозная, д. 118A">
										</div>
									</div>
									<div class="form-group row">
										<label for="" class="col-sm-4 col-form-label col-form-label-sm">Название конференции&nbsp;<span class="text-danger">*</span></label>
										<div class="col-sm-8 col-lg-6">
											<input type="text" class="form-control form-control-sm" placeholder="" value="Конференция РСПС по Калужской области 2019">
										</div>
									</div>
									<div class="form-group row">
										<label for="" class="col-sm-4 col-form-label col-form-label-sm">Тема конференции&nbsp;<span class="text-danger">*</span></label>
										<div class="col-sm-8 col-lg-6">
											<input type="text" class="form-control form-control-sm" placeholder="" value="Развитие сварочного сообщества">
										</div>
									</div>

									<div class="form-group row align-items-center">
										<label for="" class="col-sm-4 col-form-label col-form-label-sm">Повестка дня&nbsp;<span class="text-danger">*</span></label>
										<div class="col-sm-8 col-lg-6">
											<div class="input-group input-group-sm">
												<div class="input-group-prepend">
													<span class="input-group-text" id="countQuest01"><strong>1</strong></span>
												</div>
												<input type="text" class="form-control" placeholder="Введите вопрос повестки дня">
												<div class="input-group-append">
													<button class="btn btn-outline-danger" type="button" id="button-addon1" title="Удалить вопрос"><i class="fa fa-times"></i></button>
												</div>
											</div>
										</div>
									</div>
									<div id="add_field_area">
										<div class="form-group row align-items-center" id="add">
											<div class="col-sm-8 col-lg-6 offset-sm-4">
												<div class="input-group input-group-sm">
													<div class="input-group-prepend">
														<span class="input-group-text" id="countQuest02"><strong>2</strong></span>
													</div>
													<input type="text" class="form-control" placeholder="Введите вопрос повестки дня">
													<div class="input-group-append">
														<button class="btn btn-outline-danger" type="button" id="button-addon2" title="Удалить вопрос"><i class="fa fa-times"></i></button>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<div class="form-group row">
										<label for="" class="sr-only">Добавить вопрос</label>
										<div class="col-sm-6 offset-sm-4">
											<button class="btn btn-outline-secondary btn-xs"><i class="fa fa-plus mr-2"></i>Добавить вопрос</button>
										</div>
									</div>
								</div>

								<h6 class='text-primary mb-4'>Участники конференции</h6>

								<button type="button" class="btn btn-outline-danger btn-xs mb-3" data-toggle="modal" data-target="#participantConfModal">Зарегистрировать</button>

								<div class="table-responsive">
									<table class="table table-list table-internal-list">
										<thead>
											<tr class="active">
												<th>ФИО</th>
												<th>Место работы / должность</th>
												<th>Телефон / Email</th>
												<th>Членство РСПС</th>
												<th>Действия</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Фамилия Имя Отчество</td>
												<td>ООО "Работа", директор</td>
												<td>+79851234568, mail@mail.ru</td>
												<td>да</td>
												<td>
													<div>
														<a href="#" class="btn-action mr-3 text-primary" title="Удалить участника"><i class="fa fa-trash-o"></i></a>
														<a href="#" class="btn-action text-primary" data-toggle="modal" data-target="#participantConfModal" title="Изменить"><i class="fa fa-pencil"></i></a>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>

								<div class="form-group">
									<div class="form-check">
										<input class="form-check-input" type="checkbox" id="gridCheck1">
										<label class="form-check-label text-success" for="gridCheck1">
											<strong>Конференция проведена</strong>
										</label>
									</div>
								</div>
								<button type="submit" class="btn btn-primary btn-xs">Сохранить</button>
								<a href="#multiCollapseConf00" class="btn btn-outline-primary btn-xs" data-toggle="collapse" aria-expanded="false" role="button">Закрыть</a>
							</form>
						</td>
					</tr>

					<tr>
						<td class="text-uppercase font-weight-bold">
							<div class="text-primary">Астраханская область</div>
						</td>
						<td>21 ноября 2018 г.</td>
						<td>Астрахань, ул. Набережная 25</td>
						<td>
							<div class="text-appercase">Конференция по Астраханской области 2018</div>
							<div>Колличество участников:&nbsp;<strong>10</strong></div>
							<div class="text-success mt-2">Проведена</div>
						</td>
						<td>
							<a href="#" class="btn-action mr-3 text-primary" title="Копировать"><i class="fa fa-clone"></i></a>
							<a href="#multiCollapseConf01" class="btn-action text-primary" data-toggle="collapse" aria-expanded="false" title="Просмотр"><i class="fa fa-eye"></i></a>
						</td>
					</tr>
					<tr class="multi-collapse collapse edit-list" id="multiCollapseConf01">
						<td colspan="5" class="total-column">
							<form>
								<div class="mb-4">
									<h6 class='text-primary mb-4'>Сведения о конференции</h6>
									<div class="form-group row">
										<label for="" class="col-sm-4 col-form-label col-form-label-sm">Дата проведения&nbsp;<span class="text-danger">*</span></label>
										<div class="col-6 col-sm-4 col-lg-3">
											<div class="input-group input-group-sm">
												<input type="text" class="form-control datepicker-here" placeholder="дд.мм.гггг" aria-label="дд.мм.гггг" aria-describedby="" value="15.10.2018" disabled>
												<div class="input-group-append">
													<span class="input-group-text"><i class="fa fa-calendar"></i></span>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<label for="" class="col-sm-4 col-form-label col-form-label-sm">Место проведения&nbsp;<span class="text-danger">*</span></label>
										<div class="col-sm-8 col-lg-6">
											<input type="text" class="form-control form-control-sm" placeholder="" value="236005, г. Обнинск, ул. Колхозная, д. 118A" disabled>
										</div>
									</div>
									<div class="form-group row">
										<label for="" class="col-sm-4 col-form-label col-form-label-sm">Название конференции&nbsp;<span class="text-danger">*</span></label>
										<div class="col-sm-8 col-lg-6">
											<input type="text" class="form-control form-control-sm" placeholder="" value="Конференция РСПС по Калужской области 2019" disabled>
										</div>
									</div>
									<div class="form-group row">
										<label for="" class="col-sm-4 col-form-label col-form-label-sm">Тема конференции&nbsp;<span class="text-danger">*</span></label>
										<div class="col-sm-8 col-lg-6">
											<input type="text" class="form-control form-control-sm" placeholder="" value="Развитие сварочного сообщества" disabled>
										</div>
									</div>
									<div class="form-group row align-items-center">
										<label for="" class="col-sm-4 col-form-label col-form-label-sm">Повестка дня&nbsp;<span class="text-danger">*</span></label>
										<div class="col-sm-8 col-lg-6">
											<div class="input-group input-group-sm">
												<div class="input-group-prepend">
													<span class="input-group-text" id="countQuest01"><strong>1</strong></span>
												</div>
												<input type="text" class="form-control" value="Вопрос повестки дня" disabled>
											</div>
										</div>
									</div>
									<div id="add_field_area">
										<div class="form-group row align-items-center" id="add">
											<div class="col-sm-8 col-lg-6 offset-sm-4">
												<div class="input-group input-group-sm">
													<div class="input-group-prepend">
														<span class="input-group-text" id="countQuest02"><strong>2</strong></span>
													</div>
													<input type="text" class="form-control" value="Вопрос повестки дня" disabled>
												</div>
											</div>
										</div>
									</div>
								</div>

								<h6 class='text-primary mb-4'>Участники конференции</h6>

								<div class="table-responsive">
									<table class="table table-list table-internal-list">
										<thead>
											<tr class="active">
												<th>ФИО</th>
												<th>Место работы / должность</th>
												<th>Телефон / Email</th>
												<th>Членство РСПС</th>
												<th>Действия</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Фамилия Имя Отчество</td>
												<td>ООО "Работа", директор</td>
												<td>+79851234568, mail@mail.ru</td>
												<td>нет</td>
												<td>-</td>
											</tr>
										</tbody>
									</table>
								</div>

								<div class="form-group">
									<div class="form-check">
										<input class="form-check-input" type="checkbox" id="gridCheck2" checked disabled>
										<label class="form-check-label" for="gridCheck2">
											Конференция проведена
										</label>
									</div>
								</div>

								<a href="#multiCollapseConf01" class="btn btn-outline-primary btn-xs" data-toggle="collapse" aria-expanded="false" aria-controls="multiCollapseConf01" role="button">Закрыть</a>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<nav aria-label="Page navigation example">
			<ul class="pagination pagination-sm">
				<li class="page-item disabled">
					<a class="page-link" href="#" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				<li class="page-item active"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item">
					<a class="page-link" href="#" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</main> 
<!-- End Content -->
{% endblock %}