{% extends 'mainapp/base.html' %}

{% block content %}
<!-- Content -->
<main class="pt-4">
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
				<li class="breadcrumb-item"><a href="{% url 'account_about' %}">Личный кабинет подразделения</a></li>
				<li class="breadcrumb-item active" aria-current="page">Члены подразделения</li>
			</ol>
		</nav>

		<h4 class="title-page">Личный кабинет</h4>

		<ul class="nav nav-tabs mb-4">
			<li class="nav-item">
				<a class="nav-link" href="{% url 'account_user' %}">Учетная запись</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'account_about' %}">О подразделении</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'account_news' %}">Новости</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="{% url 'account_employee' %}">Члены подразделения</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'account_conf' %}">Конференции</a>
			</li>
		</ul>

		<div class="search p-3 mb-4">
			<h5>Быстрый поиск</h5>
			<form>
				<div class="form-row">
					<div class="form-group col-md-6 col-lg-4">
						<label for="" class="mb-1">ФИО / Место работы / Должность</label>
						<input type="text" class="form-control form-control-sm">
					</div>
					<div class="form-group col-sm-2 col-sm-6 col-md-3 col-lg-2">
						<label for="" class="mb-1">Населенный пункт</label>
						<select class="form-control form-control-sm">
							<option selected="">Все</option>
							<option>Калуга</option>
							<option>Обнинск</option>
							<option>Боровск</option>
							<option>Жуков</option>
							<option>Ермолино</option>
						</select>
					</div>
					<div class="form-group col-sm-6 col-md-3 col-lg-2">
						<label for="" class="mb-1">Статус членства</label>
						<select class="form-control form-control-sm">
							<option selected="">Все</option>
							<option>новый</option>
							<option>заявлен</option>
							<option>одобрен</option>
							<option>имеет сертификат </option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-auto">
						<button type="submit" class="btn btn-outline-primary btn-xs"><i class="fa fa-search"></i> Найти</button>
						<button type="button" class="btn btn-link btn-xs">Сбросить</button>
					</div>
				</div>
			</form>
		</div>

		<button type="button" class="btn btn-danger btn-xl mb-4" data-toggle='modal' data-target='#modal-newEmployee'>Добавить члена РСПС</button>

		<button type="button" class="btn btn-outline-danger btn-sm mb-4 d-block mx-auto" data-toggle='modal' data-target='#modal-regCongress'>Регистрация на Съезд РСПС 2019</button>

		<div class="table-responsive">
			<table class="table table-list">
				<thead>
					<tr class="active">
						<th>ФИО / Место работы / Должность</th>
						<th>Контакты</th>
						<th>Статус членства</th>
						<th>Действия</th>
					</tr>
				</thead>
				<tbody>
				{% for member in members %}
					{% include 'members/includes/member_lst_row.html' %}
				{% endfor %}
				</tbody>
			</table>
		</div>
		<nav aria-label="Page navigation example">
			<ul class="pagination pagination-sm">
				<li class="page-item disabled">
					<a class="page-link" href="#" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				<li class="page-item active"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item">
					<a class="page-link" href="#" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</main> 
<!-- End Content -->
{% endblock %}