{% extends 'mainapp/base.html' %}
{% load formstyles %}

{% block content %}

<!-- Content -->
<main class="pt-4">
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
				<li class="breadcrumb-item"><a href="{% url 'account_about' %}">Личный кабинет подразделения</a></li>
				<li class="breadcrumb-item active" aria-current="page">Конференции</li>
			</ol>
		</nav>

		<h4 class="title-page">Личный кабинет</h4>

		{% include 'mainapp/includes/account_menu_tabs.html' %}
		{% comment %} {{request.resolver_match.url_name}} {% endcomment %}

		<div class="search p-3 mb-4">
			<h5>Быстрый поиск</h5>
			<form method='post' action='#lk_top'>
				<div class="form-row">
					{% csrf_token %}
					<div class="form-group col-md-6 col-lg-4">
						<label for="id_fio_job_jobplace" class="mb-1">ФИО / Место работы / Должность</label>
						{{ search_member_form.fio_job_jobplace|addcss:"form-control form-control-sm"}}
						<input type="hidden" name='search_member' value='true'>
					</div>
					<div class="form-group col-sm-2 col-sm-6 col-md-3 col-lg-2">
						<label for="id_search_by_city" class="mb-1">Населенный пункт</label>
						{{ search_member_form.search_by_city|addcss:"form-control form-control-sm"}}
					</div>
					<div class="form-group col-sm-6 col-md-3 col-lg-2">
						<label for="id_search_by_status" class="mb-1">Статус членства</label>
						{{ search_member_form.search_by_status|addcss:"form-control form-control-sm"}}
					</div>
				</div>
				<div class="row">
					<div class="col-auto">
						<button type="submit" class="btn btn-outline-primary btn-xs"><i class="fa fa-search"></i> Найти</button>
						<a href="{% url 'members:member_list' %}" class="btn btn-link btn-xs">Сбросить</a>
					</div>
				</div>
			</form>
			{% if search_result %}
				{% if members|length == 0 %}
				<div class="text-info">Ничего не найдено</div>
				{% else %}
				<div class="text-info">Найдено записей: {{ members|length }}</div>
				{% endif %}
			{% endif %}

		</div>

		<button type="button" class="btn btn-danger btn-xl mb-4" data-toggle='modal' data-target='#id_add_new_member_modal'>Добавить члена РСПС</button>


		<div class="table-responsive" id="table-top">
			<table class="table table-list">
				<thead>
					<tr class="active">
						<th>ФИО / Место работы / Должность</th>
						<th>Контакты</th>
						<th>Статус членства</th>
						<th>Действия</th>
					</tr>
				</thead>
				<tbody>
				{% for member in members %}
					{% include 'members/includes/member_lst_row.html' %}
				{% endfor %}
				</tbody>
			</table>
		</div>
		{% if members.paginator.num_pages > 1  %}
		<nav aria-label="Members pagination">
			<ul class="pagination pagination-sm">
				{% if members.has_previous %}
				<li class="page-item">
					<a class="page-link" href="?page=1#table-top" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
				<li class="page-item"><a class="page-link" href="?page={{members.previous_page_number}}#table-top">{{members.previous_page_number}}</a></li>
					</a>
				</li>
				{% endif %}
				<li class="page-item active disabled"><a class="page-link">{{ members.number }}</a></li>
				{% if members.has_next %}
				<li class="page-item"><a class="page-link" href="?page={{members.next_page_number}}#table-top">{{ members.next_page_number}}</a></li>
				<li class="page-item">
					<a class="page-link" href="?page={{members.paginator.num_pages}}#table-top" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
				{% endif %}
			</ul>
		</nav>
		{% endif %}
	</div>

</main>

{% include 'members/includes/new_member_form.html'%}
{% include 'members/includes/delete_member_confirmation_form.html' %}
<!-- End Content -->
{% endblock %}